<% content_for :head do %>
	<%= image_tag('header-image.jpg', id: 'content-header-img', alt: 'Check out our courses') %>
<% end %>


<article id="details-article" class="col-sm-8">
        <h1 id="article-title">Our Courses</h1>
</article>

<section id="products">
	<% @products.each do |product| %>
		<div class="product clearfix">
		 <a href="<%=product_path(product) %>">
		  <div class="product-image-container">
		   <img src="<%= asset_path product.thumbnail_image_name %>" alt="<%= product.title %>"/>
		   <span class="product-price">$<%=product.price %></span>
		 </div>
		 <p class="product-title"><%= product.title %></p></a>
		</div>
	<% end %>
</section>