<% content_for :head do %>
  <%= image_tag(@product.header_image_name, id: 'content-header-img', alt: "Learn #{@product.title}") %>
<% end %>



 <section id="content-details" class="row clearfix">
        <article id="details-article" class="col-sm-8">
            <h1 id="article-title"><%= @product.title %> <span class="font-weight-light"><%= @product.subtitle %></span></h1>
            <h3><small>By <a href="#" data-toggle="modal" data-target="#author-modal"><%= @product.author %></a></small></h3>

            <%= raw @product.description %>          
        </article>
        <aside id="details-aside" class="col-sm-4">
            <%= form_tag charges_path, id:'chargeForm' do %>              
              <script src="https://checkout.stripe.com/checkout.js"></script>

              <%= hidden_field_tag 'stripeToken' %>
              <%= hidden_field_tag 'stripeEmail' %>
              <%= hidden_field_tag 'amount', @product.price_in_cents %>
              <button id='btn-buy' type='button' class="btn btn-success btn-lg btn-block"><span class="glyphicon glyphicon-ok"></span>I want this!</button>

              <script>
                var handler = StripeCheckout.configure({
                  key: '<%= Rails.configuration.stripe[:publishable_key] %>',
                  token: function(token, arg) {
                    document.getElementById("stripeToken").value = token.id;
                    document.getElementById("stripeEmail").value = token.email;
                    document.getElementById("chargeForm").submit();
                  }
                });
                 document.getElementById('btn-buy').addEventListener('click', function(e) {
                  handler.open({
                    name: 'One Month',
                    description: '<%= @product.title %> <%= @product.subtitle %> ($<%= @product.price %>)',
                    amount: document.getElementById("amount").value 
                });
                e.preventDefault();
               })
              </script>
            <% end %>
            <ul id="details-infobox" class="list-group">
              <li class="list-group-item active clearfix">DETAILS</li>
              <li class="list-group-item"><%= @product.details %></li>
              <li class="list-group-item clearfix">
                <span class="pull-left content-qualifier">Length</span>
                <span class="pull-right"><%= @product.length %></span>
              </li>
            </ul>
        </aside>
    </section>
</div>
<footer id="site-footer">
Made by <a href="http://onemonth.com" target="_blank"><%= image_tag('one-month-logo.svg', id: "content-head-img", alt: "Learn Growth Hacking") %></a>
</footer>

<!-- Modal -->
<div class="modal fade" id="author-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><span class="glyphicon glyphicon-user"></span>About the Teacher</h4>
      </div>
      <div class="modal-body clearfix">
            <div id="modal-left" class="pull-left">
                <p><strong><%= @product.author %></strong></p>
                <%= raw @product.author_description %>
            </div>
            <div id="modal-right" class="pull-right">
                <%= image_tag(@product.author_image_name, alt: @product.author) %>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>